
<div class="container">
  <div class="header">
    <h2>Users Data</h2>
    <!-- <button (click)="refreshData()" class="refresh-btn">Refresh Data</button> -->
  </div>

  <div class="table-container">
    <table class="users-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Statut</th>
          <th>Created_at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ user.id || i + 1 }}</td>
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>
            <span class="green-checkmark" *ngIf="user.valide=== '1'">&#10003;</span>
            <span *ngIf="user.valide === '0'">&#x274C;</span>
          </td>
          <td>{{ user.created_at | date: 'short' }}</td>
          <td>
            <div class="btn-group" role="group">
              <button (click)="selectAndSubmitUser(i)" class="btn btn-secondary me-2">
                Send
              </button>
            </div>
            
          </td>
        </tr>
        <tr *ngIf="users.length === 0">
          <td colspan="7" class="no-data">No users found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>